# Adresse ip du serveur #
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Version FiveM
set sv_enforceGameBuild 2612

# Désactiver les ddos 
set sv_requestParanoia 3

# Nombre de joueur maximum sur le serveur #
sv_maxclients 48

# Réglage du serveur #
sv_hostname "DyHost Serveur GTA | 🌐 Livraison Dyhost.fr 🌐"
sets sv_projectName "DyHost Serveur GTA | 🌐 Livraison Dyhost.fr 🌐"
sets sv_projectDesc "DyHost Serveur GTA"
load_server_icon resources/logo.png
sets tags "Français, Gratuis, Free Access, Argent, Gang, Pour tout le monde"
sets locale "fr-FR"
sv_scriptHookAllowed 0
sets banner_detail ""
sets banner_connecting ""

sets Discord "🔊 discord.dyhost.fr 🔊"
sets Développeur "DyHost.fr®"
sets Owner "DyHost.fr"
set sv_licenseKey
set steam_webApiKey none

# Resource par default
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure vMenu

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

# Autre paramètre
sv_endpointprivacy true
set onesync on
exec resources/permissions.cfg
